

#footer{
    display:flex;
    width:90%;
    margin:auto;
    justify-content: space-between;
    line-height: 30px;
    margin-top:50px;
    margin-bottom:50px;
}
#footer>div:nth-child(1){
    width:23%;
}
#footer>div:nth-child(1)>p:nth-child(odd){
    padding-left:17px;
}

#footer>div:nth-child(2){
    width:15%;
    padding-left:20px;
}
#footer>div:nth-child(3){
    width:18%;
    padding-left:20px;
}
#footer>div:nth-child(4){
    width:30%;
}

#footer>div:nth-child(4)>input{
    padding:8px 15px;
    margin-right:3px;
}
#footer>div:nth-child(4)>button{
    padding:8px 13px;
    font-size:12px;
    background-color: #455A64;
    color:white;
    border-style: none;
}
#footer>div>h4{
    margin-bottom:10px;
}
#footer+hr{
    margin-top:50px;
    width:90%;
    margin:auto;
}
.foot2{
    display:flex;
    justify-content: end;
    width:90%;
    margin:auto;
    margin:10px 0px;

}
.foot2>p{
    margin-right:15px;
}
