#container{
    width:73%;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    
    font-weight: 500;
}
 
 image{
    width:100%;
    margin:0 0 8px;

}

#container>div .name{
    font-size: 16px; 
    color:#121212; 
    font-weight: 200;
    margin:0 0 4px;
    
}

#container>div .brandName{
    font-size:14px;
    color:#848484;
}

#price{
    display:flex;
    height:40px;
    align-items: center;  
}
.symbolWithTotalPrice{
    text-decoration: line-through;
    color:#848484;
    font-size:12px;
}
.discountPrice{
    font-size: 16px;
    color:#FF7035;
    margin-right:8px;
    font-weight: bolder;
} 

 .discount{
    font-size: 12px;
    color:#67AD5B;
    font-weight: bold;
    margin:0 0 8px;
} 
.shipping{
    font-size:10px;
    color:#121212;
} 


